<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> -->
<div class="profileHead">
    <div>
        <h1>----PROFILE----</h1>
        <p> I am a creative Website Developer</p>
    </div>
    
</div>


<main class="profile">
  <section class="container">
    <div class="profile-image">
      <a class="camera" href="#">
        <img class = "img" src="../../assets/Images/mulyadi-Jb6u_B7bK40-unsplash.jpg" alt="">

                </a>
    </div>
    
    <section class="profile-info">
      <div class="flex">
          <div  style="min-width: 25vw;">
           <h2>ABOUT</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae ratione ut illum omnis aut neque doloribus nihil laboriosam? Quo, molestias, voluptatem similique nobis eius odit laboriosam beatae, minus autem mollitia perferendis! Soluta quidem ab cumque placeat ea, beatae iure voluptatibus consequuntur commodi molestias dolor, nisi, temporibus possimus quaerat enim?
            </p>
            <div class="social-media-icons">
                <a href="https://twitter.com/zephybite" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                <a href="https://codepen.io/zephyo" target="_blank">
                                <i class="fa fa-codepen"></i>
                            </a>
                <a href="https://github.com/zephyo" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                
                <a href="https://medium.com/@zephyo" target="_blank">
                                <i class="fa fa-medium"></i>
                            </a>
              </div>
          </div>
          <div style="min-width:20vw;margin-left: 50px;">
            <H2>
                Details
            </H2>
            <h3>Name : <span>Shreelochan Das</span></h3>
            <h3>Age : <span>23</span></h3>
            <h3>Location : <span>Kolkata</span></h3>

        </div>
      </div>
      

      
    </section>
    
  </section>
  
</main>
<div style="display: flex; justify-content: center;">
    <p>Got inspired? Copied the theme? Or do you just like the website? No problem, just buy me a beer and make me happy!</p>    
</div>
<div style="display: flex; justify-content: center;">
    <button class="btn" >donate</button>
</div>
