    <div class="menu">
      <div class="menu-box" data-title="Profile"><span class="fa fa-user menu-icon"></span></div>
      <div class="menu-box" data-title="Experiences"><span class="fa fa-server menu-icon"></span></div>
      <div class="menu-box" data-title="Abilities"><span class="fa fa-gamepad menu-icon"></span></div>
      <div class="menu-box" data-title="Projects"><span class="fa fa-clipboard menu-icon"></span></div>
      <div class="menu-box" data-title="Contacts"><span class="fa fa-phone menu-icon"></span></div>

    </div>
